<?xml version='1.0' encoding='utf-8'?>
<robot name="davian_handle_eraser">
  <link name="davian_handle_eraser">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_7.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_10.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_11.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_12.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_13.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_14.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_15.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_16.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_17.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_18.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_19.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_20.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="davian_handle_eraser_collision/decomp_21.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.00335212 0.000305564 -0.0384008" rpy="0 0 0" />
      <mass value="0.058" />
      <inertia ixx="3.68609e-05" ixy="-3.36002e-07" ixz="-1.29365e-06" iyy="0.000118542" iyz="1.22459e-07" izz="0.000112652" />
    </inertial>
  </link>
</robot>